@model ForgotPasswordViewModel

@{
    ViewData["PageTitle"] = "Forgot your password?";
}

@section scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<h2 class="ui header">@ViewData["PageTitle"]</h2>
<p>
    For more information on how to enable reset password please see this <a href="https://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>