@{
    ViewData["PageTitle"] = "Reset password confirmation";
}

<h1 class="ui header">@ViewData["PageTitle"]</h1>
<p>
    Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
</p>