@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["PageTitle"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1 class="ui header">
        <img src="@Url.Action("Photo", "Manage")" class="ui rounded small image" />
        <div class="content">
            @UserManager.GetUserName(User)
            <div class="sub header">
                Something about author.
            </div>
        </div>
    </h1>
}
else
{
    <div class="ui blue inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                <img src="~/images/spred.svg" alt="spRED logo" class="ui left floated image" />
                <img src="~/images/spred1.svg" alt="spRED logo" class="ui right floated image" />
            </h1>
            <h2>News publishing service.</h2>
            <a class="ui huge secondary button" href="http://semantic-ui.com/">
                Get Started <i class="right arrow icon"></i>
            </a>
        </div>
    </div>
}
<div class="ui segment">
    <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">
                Have you heard about our mailing list?
            </div>
            <p>Get the best news in your e-mail every day.</p>
        </div>
    </div>
    <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">
                Have you heard about our mailing list?
            </div>
            <p>Get the best news in your e-mail every day.</p>
        </div>
    </div>
    <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">
                Have you heard about our mailing list?
            </div>
            <p>Get the best news in your e-mail every day.</p>
        </div>
    </div>
</div>