@using Microsoft.AspNetCore.Identity
@using DioLive.Spred.WebUI.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="right menu">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="item">
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </div>
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="item">
            <button type="submit" class="ui button">Log off</button>
        </form>
    }
    else
    {
        <div class="item">
            <a asp-area="" asp-controller="Account" asp-action="Login" title="Login" class="ui button">Log in</a>
        </div>
        <div class="item">
            <a asp-area="" asp-controller="Account" asp-action="Register" title="Signup" class="ui primary button">Sign Up</a>
        </div>
    }
</div>